{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<script>
            $(function() {
              // We can attach the `fileselect` event to all file inputs on the page
              $(document).on('change', ':file', function() {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
              });
              // We can watch for our custom `fileselect` event like this
              $(document).ready( function() {
                  $(':file').on('fileselect', function(event, numFiles, label) {
                      var input = $(this).parents('.input-group').find(':text'),
                          log = numFiles > 1 ? numFiles + ' files selected' : label;
                      if( input.length ) {
                          input.val(log);
                      } else {
                          if( log ) alert(log);
                      }
                  });
              });
              $(document).ready( function() {
                $('.form-group').attr("style", "display:none");;
              });
            });
</script>

<header class="content-header">
    <h1>Select XML file</h1>
</header>
<br>
<form class="form" role="form" action="{{ url_for('user.process') }}" method=post enctype=multipart/form-data>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}


    <div class="input-group">
        <label class="input-group-btn">
                <span class="btn btn-primary">
                    Browse&hellip; {{ wtf.form_field(form.file) }}
                </span>
        </label>
        <input type="text" class="form-control" readonly>
    </div>
    <button class="btn btn-basic" type="submit">Upload</button>
</form>
{% endblock %}