{% extends "_base.html" %}
{% block content %}
<header class="content-header">
    <h1>Import setting</h1>
</header>
<br>
<form id="form" role="form" class="form" action="{{ url_for('user.xmlparser') }}" method=post>
    <table class="table-bordered">
        <tr>
            <th>Tag</th>
            <th>Value</th>
            <th>Column</th>
        </tr>
        {% for x in range(0,sloupce) %}
        <tr>
            <td>{{ tagy[x] }}</td>
            <td>{{ data.getData(0,tagy[x]) }}</td>
            <td>
                <select name={{tagy[x]}} form="form">
                    <option value="" selected></option>
                    {% for tag in db_tagy %}
                    <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
        <tr><td colspan="3"><input class="btn btn-lg btn-primary btn-block" type=submit value=Submit></td></tr>
    </table>
</form>
{% endblock %}
